/*.editWrapper
{
    min-height:10px;
    margin-top:20px;
    padding: 5px 10px;
    position:relative;
    border:solid 1px lightgray;
    border-radius: 5px;

}*/
.editButton
{
    position: absolute !important;
    top: -13px !important;
    right: 20px !important;
    height: 26px !important;
    width: 26px !important;
    background: white !important;
    border-radius: 50% !important;
    box-shadow: 0px 0px 5px 1px #5F5F5F !important;
}
.editButton div
{
   height: auto;
}
.submitButton
{
    position: absolute;
    top: -13px;
    right: 20px;
    height: 26px;
    width: 26px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #5F5F5F;
}

.editable
{
    position:relative;
}

.editable[contenteditable="true"]
{
    border:solid 2px red;
}
