//SHitty banner

.shittyAddBanner{
	width:100%;
	padding:30px;
	border-radius:3px;
	background-color:$primary-color;
	margin-top:20px;
	margin-bottom:20px;
}

//main banner
.banner{
	padding:0px;
	margin:0px;
	min-height:80vh;
	max-height:80vh;
	width:100%;
	background-color:$primary-color;
	background-size:100%;
	background-position: center;
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color:$primary-color;
	/*background-image: $banner-image;*/
	position:relative;

	height:500px;

	&.small{
		min-height:40vh;
		max-height:40vh;
	}

	.imgOverlay{
		position:absolute;
		background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5),rgba(0,0,0,0));
		height:100%;
		width:100%;
	}


	.imgDiv
	{
		height: 100%;
		width: 100%;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: cover !important;
	}
	.content
	{
		height: 100%;
		width: 100%;
		position: absolute;

	}

	h1,h2,h3,h4,h5,h6,p,a{
		margin:0;
		text-align: center;
		text-transform: uppercase;
	}

	h1{
		margin: 0;
		letter-spacing: 5px;
		padding: 7px 0 12px 0;
		display: block;
		font-weight: normal;
		font-size: 5rem;
		color: $accent-color;
	}

	p{
		font-size: 20px;
		color:#f3f0f5;
	}
	.floating{
		z-index: 1;
	}

	@media only screen and (max-width: $medium-screen) {
		h1{
			font-size: 4.5rem;
		}

		p{
			font-size: 16px;
		}
		background-size:150% auto !important;
		min-height:60vh;
	}
	@media only screen and (max-width: $small-screen) {
		h1{
			font-size: 2.5rem;
		}

		p{
			font-size: 14px;
		}
		background-size:150% auto !important;
		min-height:40vh;
	}

}
.imgSection
{
	overflow:hidden;
	min-height:500px;
	position: relative;
	.imgDiv
	{
		height: 100%;
		width: 100%;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: cover !important;
	}
	div
	{
		height: 100%;
		width:100%;
		top:0px;
		position: absolute;
		text-align: center;
	}
}
