//More layout things
.section{
	min-height:60vh;
	padding-top:20px;
	padding-bottom:20px;
}

// Footer
footer.page-footer {
	margin-top: 20px;
	padding-top: 20px;
	background-color: $primary-color;

	.footer-copyright {
		overflow: hidden;
		height: 50px;
		line-height: 50px;
		color: rgba(255,255,255,.8);
		background-color: rgba(51,51,51,.08);
		@extend .light;
	}
}
footer{
	ul,li,ol{
		list-style-type: none;
		padding:0px;
	}
}

// ==========================================================================
// General Styling
// ==========================================================================

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

// Images
img.responsive-img,
video.responsive-video {
	max-width: 100%;
	height: auto;
}
img{
	border-radius:17px;
}

a {
	color: $link-color;
	text-decoration: none;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
}

// ==========================================================================
// Media Classes from materialize
// ==========================================================================
.hide-on-small-only{
	@media #{$small-and-down} {
		display: none !important;
	}
}
.hide-on-med-and-down {
	@media #{$medium-and-down} {
		display: none !important;
	}
}
.hide-on-med-and-up {
	@media #{$medium-and-up} {
		display: none !important;
	}
}
.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: none !important;
	}
}
.hide-on-large-only {
	@media #{$large-and-up} {
		display: none !important;
	}
}
.show-on-large {
	@media #{$large-and-up} {
		display: block !important;
	}
}
.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: block !important;
	}
}
.show-on-small {
	@media #{$small-and-down} {
		display: block !important;
	}
}
.show-on-medium-and-up {
	@media #{$medium-and-up} {
		display: block !important;
	}
}
.show-on-medium-and-down {
	@media #{$medium-and-down} {
		display: block !important;
	}
}

// ==========================================================================
// Grid System
// ==========================================================================

.container {
	width:90%;
	margin:0 auto;
	max-width: 1280px;
	.row{
		margin-left: -1 * $gutter-width / 2;
		margin-right: -1 * $gutter-width / 2;
	}
}

@media #{$medium-and-up} {
	.container {
		width: $medium-and-up;
	}
}
@media #{$large-and-up} {
	.container {
		width: $large-and-up;
	}
}
.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.col {
		float:left;
		box-sizing: border-box;
		padding: 0 $gutter-width / 2;
		min-height: 1px;
		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
			&.s#{$i} {
				width: $perc;
				margin-left: auto;
				left: auto;
				right: auto;
			}
			$i: $i + 1;
		}

		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
			&.offset-s#{$i} {
				margin-left: $perc;
			}
			$i: $i + 1;
		}

		@media #{$medium-and-up} {

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.m#{$i} {
					width: $perc;
					margin-left: auto;
					left: auto;
					right: auto;
				}
				$i: $i + 1
			}

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.offset-m#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}

		@media #{$large-and-up} {

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.l#{$i} {
					width: $perc;
					margin-left: auto;
					left: auto;
					right: auto;
				}
				$i: $i + 1;
			}

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.offset-l#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}
	}
}
