// Parallax
.parallax-container {
	position: relative;
	overflow: hidden;
	height: 500px;
}

.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	img {
		display: none;
		position: absolute;
		left: 50%;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		transform: translateX(-50%);
	}
}
.valign{
	display: flex;
	align-items:center;
	justify-content: center;
}
// Text changes
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

// color classes
.secondary{
	color:$secondary-color;
}
.accent{
	color:$accent-color;
}
.primary{
	color:$primary-color;
}

// Dividers

.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("grey", "lighten-2");

}

/*hide scrolbar*/
html {
	overflow: scroll;
	overflow-x: hidden;

}
::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: transparent;
}

//Sticky Footer

body {
	min-height: 100vh;
	flex-direction: column;
}

content {
	flex: 1;
}

/*Utility Classes*/

.hide {
	display: none !important;
}

// Text Align
.left-align {
	text-align: left;
}
.right-align {
	text-align: right
}
.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}
.right {
	float: right !important;
}

// Z-levels
.z-depth-0 {
	box-shadow: none !important;
}
.z-depth-1 {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-1-half {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

//hoverable
.hoverable {
	transition: box-shadow .25s;
	box-shadow: 0;
}

.hoverable:hover {
	transition: box-shadow .25s;
	@extend .z-depth-2;
	cursor: pointer;
}

